@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism {
    background-color: #ffffff; /* Adjust based on your theme's background */
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bebebe,
               -5px -5px 10px #ffffff;
  }
  
  .neumorphism:hover {
    box-shadow: 2px 2px 5px #bebebe,
               -2px -2px 5px #ffffff;
  }

body {
    /* background: black; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .scrollbar-hide::-webkit-scrollbar:hover { */
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
    /* scrollbar-width: auto;
    scrollbar-color: #878b7e #dbdbdb; */

  /* Chrome, Edge, and Safari */
    /* width: 10px;

    background: #dbdbdb; */

  /* *::-webkit-scrollbar-thumb {
    background-color: #878b7e;
    border-radius: 10px;
    border: 2px solid #ffffff;
  } */
/* } */

.movie-details-content-container {
  background: rgba( 0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(3, 3, 12, 0.75);
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
}

.movie-details-content-container {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Blur effect for background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  overflow: hidden; /* Ensures the child elements adhere to the border-radius */
}

.movie-info h1 {
  color: transparent; /* A gold-like color for titles */
  -webkit-text-stroke: 1px #ffffff;

  margin-bottom: 10px; /* Spacing after the title */
}

.stars {
  width: fit-content;
}

.stars i{
  color: #E3BA22;
  /* opacity: .7; */
}

.stars:hover > i{
  /* opacity: 1; */
  transition: 1s ease;
  transform: rotateY(180deg);
}

.movie-info p, .movie-info div {
  /* color: transparent; White text color */
  /* text-shadow: 0px 0px 0px rgba(255,255,255,0.8); */
  /* -webkit-text-stroke: 1px #ffffff; */
  /* font-weight: 900; */
/* line-height: 1em; */
  /* margin-bottom: 8px; Consistent spacing between paragraphs */
  line-height: 1.5; /* Improved line spacing for readability */
}

/* .tagline {
 */
/* } */

.movie-info .overview {
  /* color: #bebebe; */
  text-align: left;
  line-height: 1.5; /* Italicize the overview for emphasis */
}

.movie-info .rating {
  font-weight: bold; /* Make rating stand out */
  color: #E3BA22; /* A green-like color for ratings */
}

.genres span {
  /* color: #; */
  border-radius: 18px;
  margin: 4px;
  padding: 6px 8px;
  font-size: .7rem;
  border-radius: 24px;
  background: rgba(49, 49, 70, 0.9);
  box-shadow: 0 8px 32px 0 rgba(205, 206, 209, 0.17);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
}

.genres span:hover {
  transition: .5s ease;
  transform: scale(1.1);
}

/* Additional hover effects for interactive elements (if any) */
.movie-info a {
  color: #FF5722; /* A bright color for links */
  text-decoration: none; /* No underline */
}

.movie-info a:hover {
  text-decoration: underline; /* Underline on hover for links */
}
